<div smooth-scroll id="login-page">
  <div class="header-inner">
    <div class="container">
      <h1>Login</h1>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <form name="vm.LoginForm" ng-submit="vm.login(login)" method="post">
        <div class="row errors">
          <p class="msg-error" ng-show="vm.date">{{vm.date}}</p>
        </div>
        <div class="row errors">
          <p class="msg-error" ng-show="vm.errors.message">{{vm.errors.message}}</p>
        </div>

        <div class="row">
          <div class="input-field col s12" id="div_id_document" ng-class="{'has-error': vm.errors.errors.document}">
            <input ng-model="login.document" ui-br-cpf-mask required id="id_document" name="document" type="text">
            <label for="id_document" data-error="Dado incorreto" data-success="Dado correto" class="active">CPF</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12" id="div_id_password" ng-class="{'has-error': vm.errors.errors.password}">
            <input ng-model="login.password" id="id_password" name="password" type="password">
            <label for="id_password" data-error="Dado incorreto" data-success="Dado correto" class="active">Senha</label>
          </div>
        </div>

        <button type="submit">REALIZAR LOGIN</button>
      </form>
      <a class="forgot" href="/#forgot">Esqueceu sua senha ?</a>
    </div>
  </div>
</div>
