#main_page{
    #main{
        max-height: 92vh;
        min-height: 92vh;
    }
    #infos_event {
        min-height: 92vh;
        background:#ececec;
        display: flex;
        align-items: center;
        background-image: url(/assets/images/bgexpotec.jpg);
        background-size: cover;
    }
    #infos_event .details_left {
        max-width: 100%;
    }
    #infos_event .details_left h1 {
        font-size: 80px;
        color: $color-light;
        margin-bottom: 20px;
    }
    #infos_event .details_left h1 span {
        color: $color-light;
        background-color: $color-secundary;
        padding: 0 13px;
    }
    #infos_event .details_left p {
        color: $color-light;
        font-size: 22px;
        width: 645px;
        max-width: 100%;
        line-height: 1.3em;
        letter-spacing: 0.8px;
        margin: 10px 0
    }
    #infos_event .details_left ul {
        list-style: none;
        margin: 20px 0;
    }
    #infos_event .details_left ul li {
        display: inline-block;
        margin-right: 30px;
    }
    #infos_event .details_left ul li a {
        background-color: $color-light;
        color: $color-dark;
        height: 60px;
        display: block;
        line-height: 60px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        padding: 0 25px;
        transition:all 1.5s;
    }
    #infos_event .details_left ul li a:hover{
        background-color: $color-secundary;
    }
    #infos_event .details_right {
        max-width: 100%;
    }
    #infos_event .details_right h2 {
        color: $color-light;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        padding: 5px 0px;
    }
    #infos_event .details_right span {
        font-size: 24px;
        display: inline-block;
        color: $color-light;
        background-color: $color-primary;
        padding: 1px 14px;
    }
    #subscription #form-subscription{
        width: 560px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    #subscription #form-subscription .row{
        margin-bottom: 0;
    }
    #subscription #form-subscription button{
        margin: 20px auto 30px auto;
        float: right;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: $color-secundary;
        border-radius: 0;
    }

    .errors {
        margin-bottom: 2em !important;
    }

    .errors p {
        color: #e74f37;
        font-size: 16px;
        font-weight: 700;
    }
}
