<div smooth-scroll>
<section id="main">
  <div class="container">
    <header>
      <div class="row">
        <div class="column one-second">
          <a href="/" id="logo">EXPOTEC</a>
        </div>
        <div class="column one-second">
          <nav>
            <a href="#" smooth-scroll="subscription" target="subscription">Inscrição</a>
          </nav>
        </div>
      </div>
    </header>
    <div id="details">
      <h2>Expotec {{vm.year}}</h2>
      <div class="data">
      <p><strong>Data: </strong> 00/00/000</p>
      <p><strong>Local: </strong> Univel (Av. Tito Muffato, 2317, Santa Cruz, Cascavel - PR, 85806-080)</p>
      </div>
      <a href="#" class="button" smooth-scroll="subscription" target="subscription">Inscreva-se</a>
    </div>
  </div>
</section>

<section id="subscription">
  <div>
    <h3>Inscrição</h3>
    <p>Realize agora a sua pré-inscrição em um dos maiores eventos estudantis da região. Expotec 2017</p>

    <form name="SubscriptionForm" ng-submit="vm.sendSubscription(subscription)" novalidate>
      <div id="div_id_name">
          <input ng-model="subscription.person.name" id="id_name" maxlength="255" name="name" type="text" placeholder="NOME COMPLETO" required/>
      </div>
      <div id="div_id_document">
          <input ng-model="subscription.person.document" id="id_document" maxlength="255" name="document" type="text" placeholder="CPF" ui-br-cpf-mask required/>
      </div>
      <div id="div_id_email">
          <input ng-model="subscription.person.email" id="id_email" maxlength="255" name="email" type="email" placeholder="E-MAIL" required/>
      </div>
      <div id="div_id_zipcode">
          <input ng-model="subscription.address.zipcode" id="id_zipcode" maxlength="255" name="zipcode" type="text" placeholder="CEP" ui-br-cep-mask required/>
      </div>
      <div id="div_id_state">
          <input ng-model="subscription.address.state" id="id_state" maxlength="255" name="state" type="text" placeholder="ESTADO" required/>
      </div>
      <div id="div_id_city">
          <input ng-model="subscription.address.city" id="id_city" maxlength="255" name="city" type="text" placeholder="CIDADE" required/>
      </div>
      <div id="div_id_street">
          <input ng-model="subscription.address.street" id="id_street" maxlength="255" name="street" type="text" placeholder="ENDEREÇO" required/>
      </div>
      <div id="div_id_number">
          <input ng-model="subscription.address.number" id="id_number" maxlength="255" name="number" type="text" placeholder="NUMERO" required/>
      </div>
      <div id="div_id_ddd">
          <input ng-model="subscription.phone.ddd" id="id_ddd" maxlength="255" name="ddd" type="text" placeholder="DDD" ui-number-mask="3" required/>
      </div>
      <div id="div_id_phone">
          <input ng-model="subscription.phone.number" id="id_number" maxlength="255" name="number" type="text" placeholder="TELEFONE" ui-br-phone-number required/>
      </div>
      <div id="div_id_another_college">
          <label for="id_another_college">Você é aluno de alguma instituição ?</label>
          <div>
              <input ng-model="subscription.another_college" id="id_another_college" name="another_college" type="checkbox" ng-true-value="true" ng-false-value="false" />
          </div>
      </div>
      <div id="div_id_college">
          <input ng-model="subscription.person.college" id="id_college" maxlength="255" name="college" type="text" placeholder="INSTITUIÇÃO" />
      </div>
      <div id="div_id_course">
          <input ng-model="subscription.person.course" id="id_course" maxlength="255" name="course" type="text" placeholder="CURSO" />
      </div>
      <button type="submit">REALIZAR MINHA INSCRIÇÃO</button>
    </form>
  </div>
</section>
</div>
