#main_page{
    #main{
        max-height: 88vh;
        min-height: 88vh;
    }
    #infos_event {
        min-height: 88vh;
        background-image: url(/assets/images/bg-section1.png);
        background-size: cover;
    }
    #infos_event .container{
        display: flex;
        min-height: 85vh;
        align-items: center;
        justify-content:center;
    }
    #infos_event .details_left {
        width: 650px;
        max-width: 100%;
        float: left;
    }
    #infos_event .details_left h1 {
        font-size: 80px;
        color: $color-primary;
    }
    #infos_event .details_left h1 span {
        color: $color-dark;
        background-color: $color-primary;
        padding: 0 13px;
    }
    #infos_event .details_left p {
        color: $color-primary;
        font-weight: bold;
        font-size: 24px;
        width: 645px;
        max-width: 100%;
        line-height: 1.3em;
        letter-spacing: 0.8px;
        margin: 10px 0
    }
    #infos_event .details_left ul {
        list-style: none;
        margin-top: 40px;
    }
    #infos_event .details_left ul li {
        display: inline-block;
    }
    #infos_event .details_left ul li:first-child {
        margin-right: 30px;
    }
    #infos_event .details_left ul li:first-child a {
        background-color: $color-secundary;
        color: $color-primary;
        width: 260px;
        height: 60px;
        display: block;
        line-height: 60px;
        text-align: center;
        font-size: 24px;
    }
    #infos_event .details_left ul li:last-child a {
        background-color: $color-primary;
        color: $color-dark;
        width: 260px;
        height: 60px;
        display: block;
        line-height: 60px;
        text-align: center;
        font-size: 24px;
    }
    #infos_event .details_right {
        width: 320px;
        max-width: 100%;
        float: right;
        text-align: center;
        padding: 80px 0
    }
    #infos_event .details_right h2 {
        background-color: $color-secundary;
        color: $color-primary;
        font-size: 40px;
        text-align: center;
        display: inline-block;
        padding: 5px 40px;
    }
    #infos_event .details_right span {
        font-size: 30px;
        display: inline-block;
        color: $color-dark;
        background-color: $color-primary;
        padding: 6px 21px;
    }    
    #speakers .row{
        padding:25px 0
    }
    #speakers .speaker{
        min-height: 230px;
        position: relative;
    }
    #speakers .speaker .image_speaker{
        height: 190px;
        overflow: hidden;
        display: block;
    }
    #speakers .speaker .image_speaker img{
        transition:all 1.5s;
        transform: scale(1);
    }
    #speakers .speaker .image_speaker img:hover{
        transform: scale(1.5);
    }
    #speakers .speaker h2{
        color: #333333;
        font-size: 24px;
        padding: 5px 0;
        transition:all 1.5s;
    }
    #speakers .speaker h3{
        font-size: 16px;
        color: #a7a7a7;
        font-family: 'proximareg';
        transition:all 1.5s;
    }
    #speakers .speaker:hover h2{
        color: #0061a2;
    }
    #subscription{
        background: url(/assets/images/bgsubscription.jpg);
        background-size: cover;
        position: relative;
    }
    #subscription:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
    }
    #subscription .container{
        position: relative;
        z-index: 2;
    }
    #subscription form{
        padding:20px 0;
        width: 470px;
    }
    #subscription form input:not([type='checkbox']){
        width: 100%;
        height: 33px;
        margin: 3px 0;
        padding: 0 9px;
        color: #ffffff;
        box-sizing: border-box;
        background: #001c2f;
        border: 0;
    }
    #subscription form input::-webkit-input-placeholder{
        color: #ffffff;
    }
    #subscription form #div_id_another_college{
        display: block;
        float: left;
        padding: 10px 0 8px 0;
    }
    #subscription form #div_id_another_college label{
        float: left;
    }
    #subscription form #div_id_another_college div{
        float: left;
        margin: 1px 10px;
    }
    #subscription form button{
        background: #002b48;
        border: 0;
        color: #fff;
        height: 33px;
        margin: 3px 0;
        text-align: left;
        padding: 0 10px;
        float: right;
    }
}

