<div smooth-scroll id="token-page">
  <div class="header-inner">
    <div class="container">
      <h1>Gerar senha</h1>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <form name="vm.TokenForm" ng-submit="vm.updatePassword(token)" method="post">
        <p ng-show="vm.errors.message" class="msg-error">{{vm.errors.message}}</p>

        <div class="row">
          <div class="input-field col s12" id="div_id_password" ng-class="{'has-error': vm.errors.errors.password}">
            <input ng-model="token.password" id="id_password" name="password" type="password">
            <label for="id_password" data-error="Dado incorreto" data-success="Dado correto" class="active">Senha</label>
          </div>
        </div>  

        <div class="row">
          <div class="input-field col s12" id="password_confirmation" ng-class="{'has-error': vm.errors.errors.password}">
            <input ng-model="token.password_confirmation" id="password_confirmation" name="password" type="password">
            <label for="password_confirmation" data-error="Dado incorreto" data-success="Dado correto" class="active">Senha</label>
          </div>
        </div>  

        <button type="submit">CONFIRMAR</button>
        
      </form>

    </div>
  </div>
</div>

